/*Give body a background Image*/
body{
    background: url(images/northern_lights.jpg) center center fixed;
    background-size: cover;
    color: #fff;
}

/*header*/
#header{
    text-align: center;
    font-size: 7vw;
}

/*lap*/
#lap{
    font-size: 4vw;
    text-align: right;
}

/*time*/
#time{
    font-size: 10vw;
    text-align: center;
}

/*Buttons*/
#controlsContainer{
    margin-bottom: 100px;
}
.control{
    background-color: #d7A04e;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    text-align: center;
    padding: 20% 0;
    font-size: 2.5vw;
    cursor: pointer;
}
.control:active{
    color: #d7A04e;
    background-color: #fff;
}

/*Laps*/
#laps{
    max-height: 270px;
    overflow-y: scroll; /*A fantastic thing!*/
}

/*Styling the lap which is coming from the js*/
.lap{
    height: 50px;
    border-bottom: 1px solid #fff;
    margin: 15px;
}
.laptimetitle{
    font-size: 1.5em;
    float: left;
}
.laptime{
    font-size: 2em;
    float: right;
}
















